# build output
dist/
# generated types
.astro/

# dependencies
node_modules/
# font assets
assets/fonts/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env.*
# For example, .env.production, .which is used by astro build
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# opencode MCP config
.opencode/

# submodules?
# typ/
# packages/
vision-test/
inbox/
.openchamber/

# some articles
content/article/ciallo.typ
content/article/38da90ec819f.typ
content/article/3a0a90ec819f.typ
content/article/note.typ
content/article/easy-vibe.typ
